body {
    background-color: beige ;
}

#box {
    position: relative;
    background-color: peru;
    width: 200px;
    height: 200px;
    font-size: 6rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}